<div class="row splash">
	<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
		<div class="splash-content">	
			<h2>360media.space</h2>
			<h5>Home for your 360 content</h5>
		</div>
	</div>
</div>