// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#vr_viewer {
	//position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding: 0px;
	margin-left: -15px;
	margin-right: -15px;
}

#vr {
	position: absolute;
	// z index must be above 1030 so that the vr viewer covers the nav bar
	z-index: 1031;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding: 0px;
}
