// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.splash {
  margin-top: -60px;
  background: image-url("sweded.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.splash-content {
  text-align: center;
  margin-top: 110px;
  background: rgba(0, 0, 0, .5);
  border-radius: 10px;
  
  h2 {
    color: white;
  }
  
  h5 {
    color: white;
  }
}

.scroll-down {
  position: absolute;
  display: block !important;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 25px;
}

#vr_viewer {
	//position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding: 0px;
	margin-left: -15px;
	margin-right: -15px;
}

#vr {
	position: absolute;
	// z index must be above 1030 so that the vr viewer covers the nav bar
	z-index: 1031;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding: 0px;
}

.navbar-spacing {
	margin-right: 10px;
	// margin-left: 15px;
}

@media (max-width: 768px) { 
	.navbar-spacing {
		margin-left: 15px;
	}
}

.loading-spinner {
	display: none;
  position: relative;
  bottom: 300px;
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
